@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.font-body{
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
}
































@media screen and (max-width:576px) {

    /* navbar */
    nav ul li{
        display: none;
    }

    nav .btn-1 {
        display: none;
    }

    nav {
        
        justify-content: center;
        align-items: center;
        gap: 100px;

        
        
    }
    

        

    

        

.banar {
    
    height: 760px;
    padding: 24px 16px;
    background-position: center top;
}

.circle {
    height: 280px; 
    background-size: contain;
}



.all-2-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}



.div-about{
    padding-left: 20px;
    padding-right: 20px;
}

.div-about h1{
    font-size: 32px;
}
.div-about p{
    line-height: 20px;
    font-size: 16px;
}






        .view{ 
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 40px;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            
            
        
        
            
            
        }

        .view .div1 h1,.div2 h1, .div3 h1,.div4 h1{
            font-size:40px ;
        }

        .view .div1 p,.div2 p, .div3 p,.div4 p{
            font-size: 20px;
            
        }

        .view div {
    padding: 0;
}


        .all-card{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 40px;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        
            
        }

        .all-box{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 40px;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        
            
        }

        .all-box .box-1, .box-2, .box-3 h1{
            font-size: 20px;
            font-weight: bold;

        }
        .all-box .box-1, .box-2, .box-3 p{
            font-size: 16px;
        }

        .title{
            font-size: 32px;
            font-weight: bold;
        }



    footer {
    
    height: auto;
    padding: 40px 16px;
    background-position: center;
}

.company {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    
    
}

        

        
            
            

            }

@media screen and (min-width:992px) {
    .menu{
        display: none;
    }}













    